* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --gray-color: gray;
  --brand-color: #172337;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: #ffffff;
  --gray-color: #cccccc;
  --brand-color: #cccccc;
}

#main {
  z-index: 1;
}

/* Coupon css */
#coupon {
  height: 300px;
  width: 600px;
  background-image: linear-gradient(to right, red, orange, yellow);
  z-index: 100;
  position: absolute;
  margin-top: -202%;
  margin-left: 30%;
  visibility: hidden;
  padding: 1%;
}
.closebtn {
  float: right;
}
#couponimg {
  width: 100%;
}
#desc1 {
  color: #98e458;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 19px;
  line-height: 2;
}
#desc2 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px black;
  line-height: 1;
  padding: 1px;
  background-color: rgb(253, 195, 195);
}
#desc3 {
  color: #ffc107;
  font-size: 18px;
  line-height: 1;
  text-shadow: 1px 1px black;
}
#couponbtn {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
#couponbtn:hover {
  background: none;
  border: 2px solid yellow;
  color: white;
}

/* dark - light mode */
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.darkMode {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/*--- Header ---*/
header {
  background-color: #2874f0;
  height: 50px;
}
.headerBlock {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#sidebarIcon {
  color: var(--primary-color);
  margin-right: 2%;
  font-size: 16px;
  align-self: center;
}
.webname {
  font-size: 30px;
  color: var(--primary-color);
  font-style: italic;
  align-self: center;
}
#searchBox {
  width: 40%;
  padding: 0.4% 1%;
  outline: none;
  border: none;
  font-size: 16px;
  margin-left: 2%;
  align-self: center;
}
#searchIcon {
  background-color: var(--primary-color);
  color: #2874f0;
  text-align: center;
  padding: 0.71%;
  font-size: 16px;
  align-self: center;
}
#loginButton {
  font-size: 16px;
  background-color: var(--primary-color);
  color: #2874f0;
  border: none;
  text-align: center;
  width: 110px;
  padding: 0.3%;
  margin-left: 2%;
  font-weight: bold;
  align-self: center;
}
#sellerOption {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 1%;
  text-align: center;
  align-self: center;
}
.dropBtn {
  background: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  padding: 0.5%;
  border: none;
  text-align: center;
  width: 80px;
  align-self: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(181, 179, 179, 0.2);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.showAngle {
  display: inline;
  margin-left: 10%;
  font-size: 10px;
}
.hideAngle {
  display: none !important;
  margin-left: 10%;
  font-size: 10px;
}

.dropBtn:hover .showAngle {
  display: none;
}
.dropBtn:hover .hideAngle {
  display: inline !important;
}

.subContentIcon {
  margin-right: 4%;
  color: #2874f0;
}

#cartIcon {
  font-size: 16;
  font-weight: bold;
  margin-left: 1%;
  color: var(--primary-color);
  align-self: center;
}

#modeIcon {
  width: 30px;
  cursor: pointer;
  margin-left: 1%;
}

.location {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 0.5%;
  text-align: center;
  align-self: self-end;
}

/*--- Categories ---*/
.categories {
  background-color: var(--primary-color);
  width: 100%;
}
.categoryContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categoryBlock {
  background-color: var(--primary-color);
  width: auto;
  height: auto;
  margin: 0.4%;
  border-radius: 5px;
  box-sizing: border-box;
}
.categoryImg {
  width: 100%;
  height: 100px;
  text-align: center;
}
.categoryImg img {
  width: 90%;
  height: 90%;
}
.categoryName {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 1%;
  padding-top: 0;
  cursor: pointer;
}

/*






*/

/*--- CarouselBlock ---*/
.carouselBlock {
  background-color: var(--primary-color);
  padding: 0.5%;
}
#slide-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-inner {
  overflow: visible;
}

.carousel-inner img {
  width: 100%;
  height: 300px;
  display: block;
}

.carousel-control-prev {
  background-color: var(--primary-color);
  opacity: 1;
  height: 100px;
  width: 50px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  position: absolute;
  top: 35%;
}
.carousel-control-next {
  background-color: var(--primary-color);
  opacity: 1;
  height: 100px;
  width: 50px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  position: absolute;
  top: 35%;
}

.prevIcon,
.nextIcon {
  color: var(--secondary-color);
  font-size: 30px;
}
.carousel-control-next-icon {
  background-color: var(--primary-color);
}

/*--- product carousel ---*/
.electronicsBlock {
  background-color: #e8e8e8;
  width: 100%;
  height: auto;
}
.containerBlock {
  width: 100%;
}
.linkBlock {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40%;
  background-image: linear-gradient(var(--primary-color), rgb(138, 190, 211));
}
.linkInfo {
  font-size: 30px;
  line-height: 1.5;
}
.btnViewAll {
  text-transform: uppercase;
  margin-top: 15%;
}

.productBlock {
  width: 100%;
  height: auto;
}
.product-slider {
  position: relative;
}
.slide-div {
  background-color: var(--primary-color);
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 10px 10px 8px var(--gray-color);
  margin: 10px;
  cursor: pointer;
}
.productImg {
  width: 100%;
  height: 200px;
  text-align: center;
}
.productImg img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 1%;
}
.productDesc {
  width: 100%;
  text-align: center;
  line-height: 1.8;
  padding-top: 5%;
}
.productTitle {
  color: var(--secondary-color);
  font-weight: bold;
}
.productOffer {
  color: green;
}
.productBrands {
  color: var(--brand-color);
}

.slick-prev,
.slick-next {
  font-size: 30px;
  background-color: rgb(59, 130, 238);
  border-radius: 50%;
  width: 50px;
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  z-index: 1;
}
.slick-prev {
  top: 45%;
  left: 1%;
}
.slick-next {
  top: 45%;
  left: 95%;
}

/*--- Footer ---*/
footer {
  background-color: #172337;
  height: auto;
}
.footerBlock {
  color: white;
  padding: 2% 0 1.5% 0;
  text-align: center;
}
.footerTitle {
  color: var(--gray-color);
  font-size: 18px;
  text-transform: uppercase;
  line-height: 3;
}
.footerAbout ul,
.footerHelp ul {
  list-style: none;
  padding: 0;
  line-height: 2;
  font-size: 16px;
}
.socialIcon {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-right: 1%;
}

#hrLine {
  height: 3px;
  color: var(--primary-color);
}
/*




*/

/*--- Media Query ---*/
@media screen and (max-width: 2560px) {
  /*----- Coupon -----*/
  #coupon {
    margin-top: -117%;
    margin-left: 37%;
  }
}

@media screen and (max-width: 1824px) {
  /*--- Header ---*/
  #sidebarIcon {
    display: none;
  }

  /*----- Coupon -----*/
  #coupon {
    margin-top: -190%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 1440px) {
  /*----- Coupon -----*/
  #coupon {
    margin-top: -202%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 1024px) {
  /*--- Header ---*/
  #searchBox {
    width: 35%;
  }
  #searchIcon {
    padding: 0.8%;
  }
  /*----- Coupon -----*/
  #coupon {
    margin-top: -322%;
    margin-left: 21%;
  }

  /*--- Categories ---*/

  .categoryName {
    font-size: 12px;
  }

  /*---- carousel ---*/
  .carousel-inner img {
    height: 270px;
  }

  /*---- product slider ---*/
  .linkBlock {
    padding-top: 50%;
  }
  .linkInfo {
    font-size: 31px;
  }
  .slick-next {
    left: 93%;
  }
}

@media screen and (max-width: 768px) {
  /*--- Header ---*/
  #sidebarIcon {
    display: block !important;
  }
  #searchBox {
    width: 40%;
    font-size: 15px;
    padding: 0.7%;
  }
  #searchIcon {
    padding: 1.2% !important;
    font-size: 15px;
  }

  .dropdown,
  #sellerOption,
  #cartOption {
    display: none;
  }

  /*----- Coupon -----*/
  #coupon {
    margin-top: -433%;
    margin-left: 11%;
  }

  /*--- Carousel ---*/
  .carousel-inner img {
    height: 165px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 35px;
    height: 75px;
  }
  .prevIcon,
  .nextIcon {
    font-size: 25px;
  }

  /*--- product slider ---*/
  .slick-next {
    left: 90%;
  }
}

@media screen and (max-width: 426px) {
  /*--- Header ---*/
  #sidebarIcon {
    margin-right: 4%;
  }
  .webname {
    font-size: 25px;
  }
  #searchBox {
    display: none;
  }
  #searchIcon {
    background-color: transparent;
    color: var(--primary-color);
    justify-self: center;
    margin-left: 6%;
  }
  #loginButton {
    margin-left: 4%;
    width: 90px;
  }
  #cartIcon {
    margin-left: 4%;
  }

  /*----- Coupon -----*/
  #coupon {
    margin-top: -967%;
    margin-left: 14%;
    width: 320px;
    height: auto;
    text-align: center;
  }
  #desc1 {
    color: blue;
  }

  #desc3 {
    color: black;
    text-shadow: none;
    font-weight: bold;
  }
  #couponbtn {
    border: 1px solid red;
  }

  /*----  Carousel ---*/
  .carousel-inner img {
    height: 100px;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  /*--- Product slider ---*/
  .linkBlock {
    height: auto;
    padding: 5% 0;
  }
  .btnViewAll {
    margin-top: 2%;
  }
  .slick-next {
    left: 85%;
  }
}

@media screen and (max-width: 376px) {
  /*---- coupon ----*/
  #coupon {
    margin-top: -1156%;
    margin-left: 8%;
  }
  .location {
    visibility: hidden;
  }
}
@media screen and (max-width: 321px) {
  /*----  Carousel ---*/
  .carousel-inner img {
    height: 100px;
  }

  /*--- product slider ---*/
  .slick-next {
    left: 80%;
  }
  /*---- coupon ----*/
  #coupon {
    margin-top: -1360%;
    margin-left: 0%;
  }
}
